= title t'contact_us'
.page.page_bg2
  .title.contact
    = t'contact_us'
  .innerUpdate_con
    .contact_bg
      .contact_txt
        ul
          li
            span
              | #{t('shine_scrum')}（上海办公室）：
            em
              | #{t'location.shanghai'}
          li
           span
             | #{t('shine_scrum')}（北京办公室）：
           em
             | #{t'location.beijing'}
          li
           span
             | #{t('shine_scrum')}（苏州办公室）：
           em
             | #{t'location.suzhou'}
          li
           span
             | #{t('shine_scrum')}（无锡办公室）：
           em
             | #{t'location.wuxi'}
          li
            span
              | 电话：
            em
              | #{t'_tel'} 或 #{t'_tel_2'}
          li
            span
              | 传真：
            em
              | #{t'_fax'}
          li
            span
              | Email：
            em
              | #{t'_email'}
      .write_title
        | 给我们留言
      ul.write.contact_form
        = form_for @message do |f|
          = error_msg @message
          li
            span
              | 姓名
            em
              = f.text_field :name, size: 25, class: 'txt'
          li
            span
              | 公司
            em
              = f.text_field :company, size: 25, class: 'txt'
          li
            span
              | 电话
            em
              = f.text_field :phone, size: 25, class: 'txt'
          li
            span
              | 邮箱
            em
              = f.text_field :email, size: 25, class: 'txt'
          li.textarea
            span
              | 留言
            em
              = f.text_area :body, class: 'txt2'
          li.btn_bar
            input type="button" class="btn" value="重置"
            = f.submit raw("提交"), class: "btn2"