<div class="page">
  <div class="title knowledge">知识库</div>
  <div class="innerUpdate_con">
    <div class="innerUpdate_intr">
      <!--know2-->

      <div class="innerUpdate_txt3">根据您的反馈，以下文档将选择性的进行翻译并提供中文版本，欢迎来电告知：<em>400-180-2256</em>或发信至<em>info@shinescrum.com</em></div>
      <div class="knowledge_list">
        <ul>
          <li>
            <div class="knowledge_title">Scrum Primer 2.0 （英语）</div>
            <div class="knowledge_source">来自于 www.scrumfoundation.com</div>

            <div class="knowledge_auther">作者：Pete Deemer, Gabrielle Benefield, Craig Larman and Bas Vodde.</div>
            <div class="knowledge_read">通过阅读scrum primer 2.0， 你将会对scrum的理论和实践有一个更深入的了解。 </div>
            <a class="knowledge_down" href="#">下载 </a>
          </li>
          <li>
            <div class="knowledge_title">Role of the Manager in Scrum（英语）</div>
            <div class="knowledge_source">来自于 www.scrumfoundation.com</div>

            <div class="knowledge_auther">作者：Pete Deemer, Gabrielle Benefield, Craig Larman and Bas Vodde.</div>
            <div class="knowledge_read">本文将使经理级别的学员获益匪浅。这篇文章阐述了经理角色如何在企业中运用scrum，并且提供了真实案例、练习方法以及工作描述样例供参考。</div>
            <a class="knowledge_down" href="#">下载 </a>
          </li>
          <li>
            <div class="knowledge_title">Scrum Primer 2.0 （英语）</div>
            <div class="knowledge_source">来自于 www.scrumfoundation.com</div>

            <div class="knowledge_auther">作者：Pete Deemer, Gabrielle Benefield, Craig Larman and Bas Vodde.</div>
            <div class="knowledge_read">通过阅读scrum primer 2.0， 你将会对scrum的理论和实践有一个更深入的了解。 </div>
            <a class="knowledge_down" href="#">下载 </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>