<div class="page page_bg2">
  <div class="title contact">联系我们</div>
  <div class="innerUpdate_con">
    <div class="contact_bg">
      <!--know2-->
      <div class="contact_txt">
        <ul>
          <li><span>ShineScrum（上海）：</span><em>上海市浦东新区杨新路88号，尚馥丽湾3号楼403室</em></li>
          <li><span>ShineScrum（北京）：</span><em>北京市西城区新</em></li>
          <li><span>电话：</span><em>400-180-2256</em></li>
          <li><span>Email：</span><em>info@shinescrum.com</em></li>
        </ul>
      </div>
      <div class="write_title">给我们留言</div>
      <ul class="write contact_form">
        <li><span>姓名</span><em><input type="text" class="txt"/></em></li>
        <li><span>公司</span><em><input type="text" class="txt"/></em></li>
        <li><span>电话</span><em><input type="text" class="txt"/></em></li>
        <li><span>邮箱</span><em><input type="text" class="txt"/></em></li>
        <li class="textarea"><span>留言</span><em><textarea class="txt2"></textarea></em></li>
        <li class="btn_bar"><input type="button" class="btn" value="重置"/><input type="button" class="btn2" value="提交"/></li>
      </ul>
    </div>
  </div>
</div>