
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Map</title>
    <script type="text/javascript" language="javascript" src="map.js"></script>
    <style type="text/css">
    #map_container { width:100%; max-width:800px; background-color:#FFF;  }
    html, body { background-color:White; font-size:12px; }
    </style>
</head>
<body>

<div id="map_container"></div>

</body>
</html>
