
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Scrum Foundation &mdash; CSM Certified ScrumMaster Class in Amsterdam, Netherlands</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="description" content="The Scrum Foundation (formerly Scrum Training Institute) is the premier global provider of certified Scrum training and consulting. Founded by Jeff Sutherland, the co-creator of Scrum, and leading international Agile experts Gabrielle Benefield, Pete Deemer and Jens Østergaard, Scrum Foundation provides a complete solution for companies seeking high-impact results from Scrum and Agile development." />
    <meta name="distribution" content="all" />
    <meta name="robots" content="all" />
    <meta name="resource-type" content="document" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <script src="/javascripts/cache/all.js?1338151239" type="text/javascript"></script>
    <link href="/stylesheets/cache/all.css?1338151239" media="screen" rel="stylesheet" type="text/css" />
    <!--
      by http://productive.dk
    -->
  </head>
  <body>
    <div id="outerWrap">
      <div id="header">
        <div id="headerContent">
          <h1><a href="/"><span>Scrum Foundation</span><img alt="Scrum Foundation" src="/images/logo.gif?1338151239" /></a></h1>
          <p class="login"><span onclick="location.href='/admin/home'">log in</span></p>
          <div class="nav">
            <ul id="topNav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/about/the-team">The Team</a></li>
              <li><a href="/partners">Partners</a></li>
              <li><a href="/classes" class="active">Classes</a></li>
              <li><a href="http://scrumfoundation.com/on-site-training">On-Site</a></li>
              <li><a href="/library">Library</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul><!-- /topNav -->
          </div><!-- /nav -->
          <div class="clear"></div>
        </div><!-- /headerContent -->
      </div><!-- /header -->

      <div id="mainContent">
        <h2>Class</h2>
        <div id="mainLeft">
          <h3>
            CSM Certified ScrumMaster
          </h3>
          <p>
            <strong>Taught by <a href="/about/jeff-sutherland" title="About Jeff Sutherland">Jeff Sutherland</a></strong><br />
            <strong>January 14-15, 2013 in Amsterdam, Netherlands</strong>
          </p>

          <p>The rules of Scrum are easy. Implementing them is hard. If you want to learn both, this is the course for you. Dr. Jeff Sutherland ran the first Scrum team in 1993, and has been the driving force behind it for nearly twenty years.</p>
          <p>After taking this course, you will not only know everything you need to be a Scrum Master, but you will be energized and empowered to make real change. Dr. Sutherland presents not only the concepts of Scrum and Agile, but, as he invented most of them, he gives you the reasoning, thinking, and research behind them.</p>
          <p>This course will focus on the Scrum Master, the Product Owner, and the Team in a software development organization. However, the course is useful to everyone in a company that uses Scrum. Jeff coaches Scrum teams in sales, marketing, finance, client services, senior management teams, investment groups, and non-profit organizations as well as software development teams. You will often find a <span class="caps">CEO</span>, <span class="caps">CFO</span>, or <span class="caps">CIO</span> in these classes, as well as others interested in expanding Scrum throughout their companies.</p>
          <p>There is a company in Denmark that sends every single employee to the class, from the receptionists to senior management, so everyone knows a common language and can use Scrum to improve operations throughout the company. While that level of commitment is not common, often whole teams take the course together.</p>
          <p>Dr. Sutherland and the team at Scrum Inc. are often called upon for their insight and counsel by business leaders in a wide range of industries, government agencies, and consultancies large and small. They will share some of the latest data on Scrum as it is practiced by the leading companies and thought leaders. For example, Microsoft has new data on estimating work with points vs. hours, the results might surprise you. They recently met with the <span class="caps">CEO</span> of the Standish Group, Jim Johnson, and will share with you his radical new stance on agile development based on more than a decade of real world research on which projects succeed, which fail, and why. Dr. Sutherland and his team have also been working with the Lean Enterprise Institute on the roots of Scrum and “Lean Manufacturing” within Japanese teams at companies like Toyota and Honda.</p>
          <p>
            <strong>The price of this class is EUR&nbsp;1,695</strong>
          </p>
          <form method="post" action="/classes/register/1076" class="button-to">
            <div>
              <input type="submit" value="Register for this class &raquo;" /><input name="authenticity_token" type="hidden" value="7WgGd0S+U4wB/SBN69s4H0AsNGQVyxrvbcCCAY1501w=" />
            </div>
          </form> &nbsp;
          <span class="redirect-notice">You will be redirected to <strong>training.xebia.com</strong></span>
        </div>
        <div id="mainRight">
          <h4>Venue</h4>
          <div class="textile">
            <p>NH Amsterdam Center<br />
              Stadhouderskade, 7<br />
              1054 ES Amsterdam</p>
          </div>
          <hr />
          <h4>Questions?</h4>
          <p>
            <a href="/contact/jeff-sutherland?course=1076">Ask a question about this class &gt;</a>
          </p>
        </div>
        <div class="clear"></div>
        <div class="clear"><p/></div>
        <h2>Description</h2>
        <p>Students will  get real, hands-on practice on key Scrum concepts, how to build a backlog, how to plan for a release, the daily Scrum meeting, how to estimate a project, tracking progress with a burn down chart, and the key ways to improve your team’s productivity. The exercises drive home the theory of Scrum with real practice.</p>
        <p>Overview</p>
        <p>This participatory, interactive two-day course will teach you both the practice and the theory behind Scrum. By the conclusion of the course you will know:</p>
        <p>-	How to be an effective Scrum Master <br />
          -	How to improve teamwork and productivity <br />
          -	How to launch new products faster than you think you possibly can <br />
          -	How to demand, and receive, technical excellence to not only deliver products faster, but with higher quality.</p>
        <p>Upon successful completion of this course and an online exam, each participant will be enrolled as a Certified Scrum Master, which includes a one-year Scrum Alliance membership.</p>
        <p>Students are also eligible for 16 <span class="caps">PMP</span> PDUs with the Project Management Institute. This course will also satisfy 16 of the required 21 training hours for the new <span class="caps">PMI</span>-<span class="caps">ACP</span> (<span class="caps">PMI</span>-Agile Certified Practitioner).</p>
        <p>The course will run 9:00 am to 5:00 pm each day. Please arrive at 8:30 each day for a continental breakfast. Lunch will be served.</p>
        <p>Course Material<br />
          Before the class, participants should read The Scrum Guide and The Power of Scrum, a fast paced novella by Jeff Sutherland, that demonstrates the concepts behind Scrum through narrative. Familiarity with the basic Scrum concepts will help you get the most out of the course.</p>
        <p>All course materials will be available in hardcopy at the beginning of the course. As each course is tailored to the interests and knowledge level of participants a link to what was presented in your course will be provided at the conclusion of the class.</p>
        <p>A course syllabus is available at http://jeffsutherland.com/csmsyllabus.pdf.<br />
          For more resources visit www.scruminc.com.</p>
        <form method="post" action="/classes/register/1076" class="button-to"><div><input type="submit" value="Register for this class &raquo;" /><input name="authenticity_token" type="hidden" value="7WgGd0S+U4wB/SBN69s4H0AsNGQVyxrvbcCCAY1501w=" /></div></form> &nbsp;
        <span class="redirect-notice">You will be redirected to <strong>training.xebia.com</strong></span>
      </div><!-- /mainContent -->

      <div id="footer">
        <div id="footerContent"></div>
      </div><!-- /footer -->
    </div><!-- /outerWrap -->


    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-5658313-1");
        pageTracker._trackPageview();
      }
      catch(err) {}
    </script>





    <!-- scrumme -->

  </body>
</html>
