<div class="page">
  <div class="title course">认证课程——课程报名</div>
  <div class="course_con">
    <div class="course_intr">
      <!--course_reg-->

      <div class="course_reg">
        <div class="course_reg_txt1">非常感谢您注册ShineScrum的CSM课程！</div>
        <div class="course_reg_txt2">您可以通过以下<em>两种方式</em>联系我们，完成课程注册的流程：</div>
        <div class="course_reg_txt3">电话/邮箱：热线电话&nbsp;&nbsp;<span class="tel_and_email">400-18-2256</span></div>
        <div class="course_reg_txt4">邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tel_and_email">info@shinescrum.com</span></div>

        <div class="course_reg_txt5">填写以下您的基本个人资料(*为选填)，我们的销售人员会尽快和您核对注册信息及课程安排。</div>
        <div class="course_reg_con">
          <ul class="write">
            <li><span>姓名</span><em><input type="text" class="txt"/></em></li>
            <li><span>电子邮箱</span><em><input type="text" class="txt"/></em></li>
            <li><span>联系电话</span><em><input type="text" class="txt"/></em></li>
            <li><span>*所在公司</span><em><input type="text" class="txt"/></em></li>

            <li><span>*职位</span><em><input type="text" class="txt"/></em></li>
            <li><span>报名人数</span><em><input type="text" class="txt"/></em></li>
            <li class="btn_bar"><input type="button" class="btn" value="重置"/><input type="button" class="btn2" value="提交"/></li>
          </ul>
        </div>
      </div>
      <div class="clearFix"></div>
    </div>



  </div>
</div>