@charset "utf-8";
/*base*/
body {text-align:left;font-family:Microsoft YaHei,Arial;background:#fff; color:#666; font-size:12px;}

/* remove h1 star
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,blockquote,p,button{margin:0; padding:0;}
table,td,tr,th,h1,h2,h3,h4,h5,h6{font-size:12px;}
*/
body,div,dl,dt,dd,ul,ol,li,h2,h3,h4,h5,h6,h7,pre,form,fieldset,input,textarea,select,blockquote,p,button{margin:0; padding:0;}
table,td,tr,th,h2,h3,h4,h5,h6,h7{font-size:12px;}
/*remove h1 end*/

caption,th {text-align:left;}
dt{ font-weight:bold;}

img,abbr,acronym{border:0;}
s{ text-decoration:none;}
ol,ul,li {list-style:none;}

q:before,q:after {content:'';}
address,caption,cite,code,dfn,em,i,b,th,var{font-weight:normal; font-style:normal;}
a{color:#666666; text-decoration:none;}
a:hover{color:#C71444; text-decoration:underline;}

sup { vertical-align:text-top }
sub { vertical-align:text-bottom }
button{cursor:pointer;}
input, textarea, select {font-size:inherit; font-weight:inherit; *font-size:100%; font-family: verdana,simsun,sans-serif; }
.clearFix{ clear: both; zoom:1;}
a,area { blr:expression(this.onFocus=this.blur()) }
*:focus{outline:none;}/*ie:hidefocus="true" , autocomplete="off"*/
.left{ float: left; width: 635px;}
.right{ float: right;}


