= link_to "Registers", admin_registers_path
| &nbsp;|&nbsp;
= link_to "Messages", admin_messages_path
| &nbsp;|&nbsp;
= link_to "Trainers", admin_trainers_path
| &nbsp;|&nbsp;
= link_to "Courses", admin_courses_path
| &nbsp;|&nbsp;
=link_to "Course Descriptions", admin_course_descriptions_path
| &nbsp;|&nbsp;
=link_to "News", admin_news_and_events_path
br
br