/a href=admin_path
/  | Admin
/| &nbsp;|&nbsp;
a href="/admin#{registers_path}"
  | Registers
| &nbsp;|&nbsp;
a href="/admin#{messages_path}"
  | Messages
| &nbsp;|&nbsp;
a href="/admin#{trainers_path}"
  | Trainers
| &nbsp;|&nbsp;
a href="/admin#{courses_path}"
  | Courses
br
br