<div id="about_show">
  <img alt="Bob Schatz" src="http://assets.scrumfoundation.com/trainers/37/bob-schatz_medium.jpg?1286051925" />
  <p>
    <strong>Base:</strong> Philadelphia, PA<br />
    <strong>Works as a:</strong> CST<br />
    <a href="/contact/bob-schatz">contact &gt;</a>
  </p>
  <p>In July 2006 Bob Schatz started Agile Infusion, Inc. in order to provide advice, consulting, and training to companies using agile development techniques such as Scrum and XP. Bob served as VP of Development for Primavera Systems, Inc. where he was responsible for leading the highly-successful adoption of agile development techniques starting in 2002 for the team that develops Primavera’s software solutions for Enterprise Project, Resource, and Portfolio Management. Before joining Primavera, Bob spent seven years at Liquent, Inc., managing the development of publishing software targeted for the pharmaceutical market, and 12 years at GE Aerospace/Lockheed Martin, where he held various management positions for large-scale development projects for US government agencies and the Department of Defense. He holds a bachelor’s degree in Computer Science from Temple University and a Masters degree in Organizational Dynamics from the University of Pennsylvania.</p>
  <p>Bob is a proven leader in successfully implementing agile development techniques, such as Scrum and XP, and driving culture changes in organizations. He and his team have been featured in a number of industry articles. Bob often speaks at industry events talking about the benefits and challenges of bringing agile techniques into an organization.</p>
  <p>Training/Coaching areas:<br />
Executive, Product Owner (Certified/non-certified), Team, and Scrum Master Training (Certified/Non-certified); Project Kick-off; Project Coaching; Team Health Checks/Assessments, Portfolio Management Coaching; Organizational Development and Conflict Management, Project Rescue</p>

  <div class="clear"></div>
    <p>
      You can read more about Bob Schatz at <a href="http://www.linkedin.com/in/bobschatz">www.linkedin.com/in/bobschatz</a>.
    </p>
  <h3 id="courses">Upcoming Courses by Bob Schatz</h3>
    <p>Bob Schatz currently has no courses scheduled.</p>
  <div class="clear"></div>
</div>